html, body {
    height: 100%;
    overflow:hidden;
}

body {
    padding-top: 50px;
  /*  background-image: url("../images/wimlogoCompact.png");*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color:#474747;
}
#userGuideNav {
    background-color: transparent!important;
}

.user-guide-header {
    display: block;
    text-align: center;
    font-size: 16pt;
    box-sizing: border-box;
    padding: 10px 0 25px;
}
.user-guide-item:nth-child(even) {
    background-color: rgba(0,0,0,.04);
}
.user-guide-item {
    display: block;
    box-sizing: border-box;
    padding: 35px 15px 35px 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.user-guide-item .user-guide-item-image {
    display: inline-block;
    width: 100%;
    height: 100px;
}
.user-guide-item img {
    display: block;
    height: 100%;
    margin: 0 auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    border: 4px solid rgba(0,0,0,.15);
}
.user-guide-item p {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-grow: 2;
    flex-grow: 2;
    padding-left: 15px!important;
    padding-right: 20px!important;
    font-size: 12pt;
}
.user-guide-item p b {
    color: rgba(0,0,0,.6);
    display: block;
    font-weight: bolder;
    padding-bottom: 10px;
}
#aboutNav, #userGuideNav {
    /*background-color: #474747;*/

    background: 0 0;
    border: none;
    line-height: 16px;
    /*padding-top: 0;*/
    /*padding-bottom: 0;*/
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    top: 2px;
    transition: .2s;
    color: rgba(255,255,255,.35);
}


#aboutNav, #userGuideNav {
    letter-spacing: 2px;
    position: relative; top: 2px;
    transition: 0.2s;
    color: rgba(255,255,255,0.35);
}
#aboutNav:hover, #userGuideNav:hover {
    cursor: pointer;
    color: rgba(255,255,255,1);
    transition: 0.2s;
}
#aboutNav:focus, #userGuideNav:focus {
    outline: none;
}

.keepit100 {
    height: 100%;
}

@media (max-width: 767px) {
    #geosearchButtonText {
        display: none;
    }

    #legendButtonNavBar {
        display: none;
    }

    /*.basemapThumb {*/
    /*display: none;*/
    /*}*/
}

.overflow-y-hidden {
    overflow-y: hidden;
}

@media (min-width: 768px) {
    #legendButtonSidebar {
        display: none;
    }
}

.basemapThumb {
    border:1px solid #ffffff;
    border-radius: 5px;
}

/*basemapBtn elements manually set to width of widest - temp solution until dynamic solution is implemented */
.basemapBtn {
    width: 86px;
    margin-bottom: 2px;
    padding:2px;
}


.esriSimpleSliderTL {
    top: 5px;
    left: 5px;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
}

#homeButton {
    position: absolute;
    top: 75px;
    left: 5px;
    z-index: 50;
}

#locateButton {
    position: absolute;
    top: 115px;
    left: 5px;
    z-index: 50;
}

.hover-content {
    display:none;
}

.identification {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 8.5pt;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 0 0 8px;
    opacity: .75;
    font-weight: bolder !important;
    text-align: center;
    color: rgba(0,0,0,0.85);
    transition: 0.1s;
}
.indentification:hover{
    transition: 0.1s;
}
.sidebar-footer{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
    font-size: 8pt;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.sidebar-footer a{
    display: inline-block;
    box-sizing: border-box;
    padding: 0 6px;
}

.latLngScale {
    position:absolute;
    padding:4px;
    bottom:1.6em;
    left: 20px;
    /*width:250px*/
    /*height:320px;*/
    z-index:1;
    color: black;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
}

.latLngScale:hover .hover-content {
    display:inline-block;
}

.lyrTogDiv {
    width: 100%;
    padding: 1px;
    font-weight: bold;
}

.alert {
    margin-top: 0px;
    margin-bottom: 0px;
}

#legendDiv {
    overflow-y: auto;
    /*max-height: inherit;*/
}

#legendCollapse {
    /*max-height: inherit;*/
}

/*#legendElement {*/
/*position:absolute;*/
/*padding:4px;*/
/*top:1em;*/
/*right:10px;*/
/*z-index:1;*/
/*color: black;*/
/*background-color: rgb(255,255,255);*/
/*background-color: rgba(255,255,255,0.8);*/
/*box-shadow: 0 1px 5px rgba(0,0,0,0.65);*/
/*min-width: 200px;*/
/*border-radius: 4px;*/
/*overflow: auto;*/

/*}*/

.alert-info {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.legendClass {
    position:absolute;
    top:5px;
    right:5px;
    z-index:3;
    color: black;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    /*min-width: 150px;*/
    border-radius: 4px;
}

.legendHeading {
    color: black;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    text-decoration: none !important;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
}

#legendButtonSidebar {
    width: 100%;
}

.lgi-zoom {
    color: white;
    background-color: black;
    border: none !important;
    padding: 5px 5px !important;
}

a.lgi-zoom {
    color: white;
}

a.lgi-zoom:hover {
    color: black;
}

.lyrTog {
    width: 100%;
    padding: 1px;
    font-weight: bold;
}

.map {
    overflow: auto;
}

#mapDiv {
    min-height: 100%;
    max-height: 100%;
}

.opacity {
    padding-left: 10px;
}

.opacitySlider {
    position: absolute;
    color: white;
    width: 200px;
    padding: 10px;
    /*padding-bottom: 40px;*/
    opacity: 0.8;
    border: solid 1px white;
    background-color: black;
    z-index: 1000;
    border-radius: 5px;
}

.modal-dialog {
    padding-top: 60px;
}

.navbar-brand {
    padding:7px 4px;
}

.navbar-dark {
    border-width:0;
    background-color:#474747;
    color:#ffffff;
    font-family:arial,sans-serif;
    top:0;
    position:fixed;
    width:inherit;
}

.no-col-padding {
    padding: 0;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: gray;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

#tableTabPane {
    background-color: white /* lobipanel table tab shouldn't be transparent*/
}
.row-map {
    background: #eee;
}


[class*="col-"] {
    background-color: #eee;
    border: 1px solid #E7E7E7;
    /*text-align: center;*/
}

#wim_logo {
    background: #000 0 0;
    border-radius: 5px;
    width: 45px;
}

#wim_logo:hover{
    background: blue none repeat scroll 0 0;
    cursor: pointer;
}

.wim-sidebar-panel {
    margin-bottom: 2px;
}
/*needs the overflow and z-index for select overflow*/
#sidebar {
    top: 50px;
    padding-bottom: 50px;
    overflow:visible !important;
    z-index:1000;
}
input[type="checkbox"], input[type="radio"] {
    float: left;
}

.zoomDialog {
    position: absolute;
    color: white;
    /*width: 200px;*/
    padding: 5px;
    /*padding-bottom: 40px;*/
    opacity: 0.9;
    border: solid 1px white;
    background-color: black;
    z-index: 1000;
    border-radius: 5px;
}

.zoomClose {
    color: white;
}

.selectpicker{
    padding:5px;
}

.select-label{
    padding-top:20px;
}

/*.radio{
    padding-left:25px;
}

.radio label {
    padding-left:5px;
}*/

/* tablesorter added css for highlighting */
/* TABLE BACKGROUND color (match the original theme) */
table.hover-highlight td:before,
table.focus-highlight td:before {
  background: #fff;
}

/* HOVER ROW highlight colors */
table.hover-highlight tbody > tr:hover > td, /* override tablesorter theme row hover */
table.hover-highlight tbody > tr.odd:hover > td,
table.hover-highlight tbody > tr.even:hover > td {
  background-color: #ffa;
}

/* End tablesorter added css */
.chartWindowMaximize{
    position:absolute;
    top: 200;
    right: 200;
    z-index:3;
    color: black;
    background-color: rgba(255,255,255,0.4);
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
    visibility: hidden;
}

.chartWindowMinimize {
    position:absolute;
    background-color: rgba(255,255,255,0.4);
    height: 200px;
    width: 200px;
    bottom: 0;
    right: 0;
    top: 120;
    z-index: 20000;
}


#chartClose {
    cursor: pointer;
    display: inline;
    padding-top: 3px;
    padding-right: 6px;
    font-size: 14px;
    font-weight: bold;
}

#chartMinimize {
    cursor: pointer;
    display: inline;
    padding-right: 15px;
    font-size: 20px;
    font-weight: bold;
}

#chartMaximize {
    cursor: pointer;
    display: inline;
    padding-right: 15px;
    font-size: 20px;
    font-weight: bold;
}
/*
#chartWindowDiv{
    top:65px !important;
}
*/
.hover{
    background-color: antiquewhite;
}
.navbar-brand>img{
    display: inline-block;
}


#tableBody{
    font-size:12px;
}

.table thead tr td{
    font-size: 12px;
}

.table th {
    font-size: 12px;
}


/*jquery resizeable*/
#tableResizable {
    width: 100%;
    height: 400px;
    /*overflow-y:auto;
    overflow-x: scroll;*/

}
#tableResizable h3 { text-align: left; padding-left: 20px; }

.ui-widget-header{
    border: none;
    background: rgb(30,39,50);
    padding: 5px;
    font-weight: 300;
    letter-spacing: 1.25px;
    font-family: arial, sans-serif;
}
.esriControlsBR {display: none;}


/*Fixing table resize bar*/
#resultsTable{
  display: block;
  height: 75%;
  height: calc(100% - 110px);
  overflow-x: scroll;
  margin: 0 auto 5px auto;
}
/* Tooltip */
.grp1-warning + .tooltip > .tooltip-inner {
    background-color: #73AD21; 
    color: #FFFFFF; 
    border: 1px solid green; 
    padding: 15px;
    font-size: 20px;
}
.grp1-warning{
  color:red;
  padding:5px;
}
.grp1-warning:hover {
  color:red;
}

.grp2-warning + .tooltip > .tooltip-inner {
    background-color: #73AD21; 
    color: #FFFFFF; 
    border: 1px solid green; 
    padding: 15px;
    font-size: 20px;
}
.grp2-warning{
  color:red;
  padding:5px;
}
.grp2-warning:hover {
  color:red;
}

.grp3-warning{
  color:red;
  padding:5px;
}
.grp3-warning:hover {
  color:red;
}

.esriLegendLayerLabel{
    visibility: collapse;
}

.esriLegendServiceLabel{
    font-size: 12px;
}

/*used in geosearch modal body*/
.wim-alert {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 14px 18px;
    margin: 10px 0;
    font-size: 9pt;
    letter-spacing: .8px;
    border: 1px solid #d3d3d3;
    color: #fff;
    border-radius: 3px;
    font-weight: 400;
    background-color: #e2e2e2;
    color: #2d3146;
}



/*Mitch Mar 9*/
#legendElement{
    max-width: 280px;
    height: auto !important;
    overflow: auto;  /*Erik Edited from scroll to auto 3/17/17*/
    max-height: 400px;
}
#chartWindowPanelTitle{
    font-size: 14px;
    font-weight: 600;
}
#sidebar{
    overflow-x: scroll !important;
    overflow-y: hidden !important;
}
.dropdown-menu li a{
    font-size: 12.5px;
    line-height: 14px;
    padding: 8px 6px;
}
.dropdown-menu li a span{
    overflow: hidden;
    display: block !important;
    white-space: pre-wrap;
    word-wrap: break-word !important;
}
.dropdown-menu li a .glyphicon{
    display: none !important;
}

.alert-info{
    background-color: transparent !important;
    border: none;
    padding: 15px 10px 5px 10px;
}
#toggle{
    padding: 25px 0 !important;
}
.panel-body{
   
} 
.panel-body .btn{
    display: block;
    width: 100%;
}
.panel-body button{
    display: block;
    width: 100%;
}

.btn-group{
    display: block;
    width: 100% !important;
    margin-bottom: 10px !important;
}

.input-group{
    display: block;
    width: 100%;
}

.radio{
    margin: 8px 0;
}
.radio label{
    padding: 0 0 0 18px;
}
.radio input{
    margin: 3px 0 0 0 !important;
    padding: 0;
}

.text-list{
    background: none !important;
    text-align: left !important;
    padding-left: 25px !important;

}
#customSelect p {
    padding-left: 10px;
    margin-bottom: 0;
}